.Rooms ul li {
    list-style: none;
}
.roomImage{
    width: 140px;
}
.bookingStatus{
    padding: 7px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}
.bookingStatus_success{
   
    color: green;
}
.bookingStatus_cancel{
    color: red;
}
.svg-inline--fa{
    font-size: 14px;
    margin-right: 10px;
}
.svg-inline--fa:hover{
    opacity: 0.7;
    cursor: pointer;
}
.modal-header{
    display: flex;
    justify-content: center !important; 
}
.modal-header .fa-circle-check{
    font-size: 30px;
    color: #42f599;
}
.addform-container{
    top: 60px;
    background-color: rgba(39, 34, 34, 0.5);
    /* width: 100%; */
    position: absolute;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addform{
    padding: 2rem 15rem;
    background-color: white;
    position: relative;
}
.AddRoomSuccess-container{
    
    background-color: rgba(39, 34, 34, 0.5);
    position: fixed;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AddRoomSuccess{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-right: 15px; */
    padding: 2rem 10rem;
    background-color: white;
    position: relative;
}
.nut{
    /* margin: 4px; */
    background-color: rgb(204, 198, 198);
    padding-left: 10px;
    border-radius: 4px;
}
.nut:hover{
    cursor: pointer;
    opacity: 0.8;
}