.header{
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 80px;
    border-bottom: solid 1px black;
}
.nav__wrapper{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.nav__item-active{  
    /* opacity: 0.5; */
}
.nav__wrapper .logo img{
    width: 30%;
    
}

.menu{
    margin-bottom: 0;
    display: flex;
    align-items: center ;
    gap: 5;
}
ul{
    list-style: none;
}
.nav__item a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    margin: 0 10px;
}
/* ------------------- */
.nav__right{
    width: 150px;
    justify-content: space-between;
    /* gap:4; */
}
li> a{
    color: #000;
    text-decoration: none;
}

.user_name:hover{
    cursor: pointer;
    opacity: 0.8;
}
.login_register{ 
    display: block;

}
.user_profile{
    display: flex;
    cursor: pointer;
    height: 40px;  
    align-items: center ;
    
}
.user_profile img{
    margin-top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}
.user_profile .user_name{
    font-size: 16px;
    margin-left: 8px;
    margin-bottom: 0;
}
.user_profile .user_menu{
    z-index: 1;
    display: block;
    position: absolute;
    top: 80px;
    background-color: white;
}
.user_menu ul{
    padding: 0;
    margin: 0;
}
.user_menu li{
    font-weight: 500;
    border: 1px solid grey;
    background-color: #d8c9c9;
    cursor: pointer;
    padding: 0 10px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.user_menu li:hover{
    opacity: 0.8;
    color: #0a58ca;
}

/* ----------------------------------- */